#Head{
    background-color: #bbbbbb;
    border-radius: 20px;
    
}
.h1_01{
    padding: 7px;
}
.h6_01{
    padding: 10px;
}
#input_01{
    border-radius: 5px;
    text-align: center;
    text-align: center;
    padding: 5px;
    border-style: groove;

}
input{
    width: 500px;
    border-radius: 20px;
}
h2{
    text-decoration: overline;
}
#Hello_01{
    text-decoration: none;
    border-style: dashed;
    color: black;
    width: 100px;
}